body {
    font-family: 'Georgia', 'Times New Roman';
    background-color: #FFFFFF;
    color: #232E4D;
    text-align: center;
}

#webname-tright, nav {
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 35px
}
.topbox {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #E6FFFF;
    border-width: 12px;
    border-style: groove;
    border-color: #d1d9f2;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#footer {
    color: #565252;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #00000034;
    border-width: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}